.reserve {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .btnSearchDate {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}
.btnSearchOption {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}
.btnSearch {
    cursor: pointer;
    font-weight: 600;
}
.headerSearchInput {
    border: none;
    outline: none;
}
.headerSearchText {
    color: gray;
    cursor: pointer;
}
.date {
    /* position: absolute; */
    top: 120px;
    z-index: 2;
}
.options {
    /* z-index: 2; */
    /* position: absolute; */
    z-index: 2;
    top: 290px;
    right: 580px;
    background-color: whitesmoke;
    color: gray;
    /* border-radius: 5px; */
    /* -webkit-box-shadow : 0px 0px 10px -5px rgba (0,0,0,0.4); */
    /* box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4); */
}
.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}
.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #4c4c6c;
    color: #4c4c6c;
    cursor: pointer;
    background-color: white;
}
.optionCounterButton:disabled {
    cursor: not-allowed;
}



